---
import Layout from "../layouts/Layout.astro";
import Modal from "../components/Modal/Modal";
---

<Layout title="Welcome to Demo.">
  <div>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti eum
    debitis nemo, eveniet quisquam accusamus quas neque totam nobis molestias!
  </div>
  <Modal client:load> This is so cool</Modal>
  <div class="container">
    <div class="h-[1500px]">This is a overflowing page</div>
  </div>
</Layout>

<style></style>
